@import "Variables";
@import "screenSize";

* {
  overflow: hidden;
  margin: 0;
}

.font {
  font-family: $fonts;
}

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-color: transparent;
  position: relative;
  right: 20px;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.gutterNew {
  display: flex;
  width: 100%;
}

.navbar {
  transition: max-height 0.5s ease-out;
  max-height: 600px;
}

.navBorder {
  border-bottom: 1px solid #6e8291;
}

.scroll {
  overflow-y: scroll;
  scrollbar-color: light;
}

.scroll-hide {
  overflow-y: hidden;
}

.tweet-text-area {
  width: 100%;
  resize: none;
}

.textarea-style {
  resize: none;
  caret-color: $lightPurple !important;
}

@mixin textDirection($val) {
  direction: $val;
}

.textDirectionRight {
  @include textDirection($val: rtl);
}

.textDirectionLeft {
  @include textDirection($val: ltr);
}

.textColor {
  color: $lightPurple;
}

.tweet-flow {
  overflow-y: scroll;
}

.tweet-overflow::-webkit-scrollbar {
  display: none;
}

.tweet-auto-flow {
  overflow-x: hidden;
  overflow-y: scroll;
}

.tweet-auto-overflow::-webkit-scrollbar {
  display: none;
}

.float-hover:hover {
  color: $lightBlue;
}

.floatactive {
  color: $lightBlue;
}

.transitionDraft {
  transition: all 800ms ease-in-out;
}

.kickOutline {
  outline: 0;
}

.modalWidth {
  width: 100%;
  max-width: 100%;
}

.autoScrollHeight {
  height: calc(100% - 11.5%);
}

.heightSchedule {
  height: 350px;
}

.draftBtnHover:hover {
  color: $lightPurple;
}

.draftBtnHoverLight:hover {
  color: $lightBlue;
}

.draftBefore {
  width: 0%;
  transition: all 500ms;
}

.draftAfter {
  width: 300px;
  transition: all 500ms;
}

.btnActive:hover {
  color: black;
}

.navBefore {
  position: relative;
}

.navAfter {
  position: absolute;
  transform: translateY(-50px);
  top: 10;
  width: 100%;
  transition: all 800ms;
}

.tweetBtnBefore {
  transform: translateY(70px);
  transition: all 700ms;
}
.tweetBtnAfter {
  width: 100%;
  transition: all 700ms;
  height: 100%;
  z-index: 99;
}

.borderColor {
  border-color: $border__gray;
}

.iconsShadow {
  box-shadow: 0 0 1px 1px $border__gray;
}

.iconsShadowDark {
  box-shadow: 0 0 1px 1px $border__light;
}

::selection {
  background: $lightPurple;
  color: $white;
}

.cursor {
  cursor: pointer;
}

.floatShrink {
  width: 150px;
  transition: all 900ms ease-in-out;
}

.floatShrink__transition {
  width: 35px;
  height: 35px;
  transition: all 900ms ease-in-out;
}

.zen-resize {
  position: absolute;
  right: -4px;
  width: 100%;
}

@mixin draftBorder($background-color) {
  width: 4px;
  background-color: $background-color;
  padding-bottom: 57px;
  box-sizing: border-box;
}

.draftBorder {
  @include draftBorder($background-color: $lightBlue);
}

.draftBorderDark {
  @include draftBorder($background-color: $lightPurple);
}

@mixin Lighttheme($color, $backgroundColor, $borderColor) {
  background-color: $backgroundColor;
  color: $color;
  border-color: $borderColor;
  transition: all 500ms;
  font-family: $fonts;
}

.styleLight {
  @include Lighttheme(
    $color: $gray,
    $backgroundColor: $white,
    $borderColor: $border__light
  );
}

.styleLightDark {
  @include Lighttheme(
    $color: $gray,
    $backgroundColor: #16212c,
    $borderColor: $border__gray
  );
}

@mixin DarkTheme($color, $backgroundColor, $borderColor) {
  background-color: $backgroundColor;
  color: $color;
  border-color: $borderColor;
  transition: all 500ms;
  font-family: $fonts;
}

.styleDark {
  @include DarkTheme(
    $color: black,
    $backgroundColor: #e7ebef,
    $borderColor: $border__light
  );
}

.styleDarkDark {
  @include DarkTheme(
    $color: $white,
    $backgroundColor: #2c333a,
    $borderColor: $border__gray
  );
}

  .draftPosition {
    @include md {
      position: absolute !important;
      height: 100%;
      z-index: 99;
    }
  }
  .draftAfter {
    @include md {
      width: 50%;
    }
  }

  .draftAfter {
    @include sm {
      width: 50%;
    }
  }
