* {
  overflow: hidden;
}

.font {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-color: transparent;
  position: relative;
  right: 20px;
  z-index: 1;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.gutterNew {
  display: flex;
  height: cal(100vh - 4rem);
  width: 100%;
}

.navbar {
  transition: max-height 0.5s ease-out;
  max-height: 600px;
}

.navBorder {
  border-bottom: 1px solid #6e8291;
}


.scroll {
  overflow-y: scroll;
  scrollbar-color: light;
}

.scroll-hide {
  overflow-y: hidden;
}

.tweet-text-area {
  width: 100%;
  resize: none;
}

.textarea-style {
  resize: none;
  caret-color: #802fff !important;
}

.textDirectionRight {
  direction: rtl;
}

.textDirectionLeft {
  direction: ltr;
}

.textColor {
  color: #802fff;
}

.tweet-flow {
  overflow-y: scroll;
}

.tweet-overflow::-webkit-scrollbar {
  display: none;
}

.tweet-auto-flow {
  overflow-x: hidden;
  overflow-y: scroll;
}

.tweet-auto-overflow::-webkit-scrollbar {
  display: none;
}

.float-hover:hover {
  color: rgb(49, 127, 245);
}

.floatactive {
  color: rgb(49, 127, 245);
}

.transitionDraft {
  transition: all 800ms ease-in-out;
}

.kickOutline {
  outline: 0;
}

.modalWidth {
  width: 100%;
  max-width: 100%;
}

.autoScrollHeight {
  height: calc(100% - 11.5%);
}

.heightSchedule {
  height: 350px;
}

.draftBtnHover:hover {
  color: #802fff;
}

.draftBtnHoverLight:hover {
  color: rgb(49, 127, 245);
}

.draftBefore {
  width: 0%;
  transition: all 500ms;
}

.draftAfter {
  width: 300px;
  transition: all 500ms;
}

.borderColor {
  border-color: #2b343b;
}

.iconsShadow {
  box-shadow: 0 0 1px 1px #2b343b;
}

.iconsShadowDark {
  box-shadow: 0 0 1px 1px #ecf0f4;
}

::selection {
  background: #802fff;
  color: white;
}

.cursor {
  cursor: pointer;
}

.draftBorder {
  width: 4px;
  background-color: #1da1f2;
  padding-bottom: 57px;
  box-sizing: border-box;
}

.draftBorderDark {
  width: 4px;
  background-color: #802fff;
  padding-bottom: 57px;
  box-sizing: border-box;
}
/* Media query for draft bar making it responsive */

@media only screen and (max-width: 768px) {
  .draftPosition {
    position: absolute !important;
    height: 100%;
    z-index: 99;
  }
  .draftAfter {
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .draftAfter {
    width: 70%;
  }
}
