* {
  overflow: hidden;
  
}

.gutter {
  /* background-color: rgb(196, 169, 169); */
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: col-resize;
  /* background-color: white; */
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.gutterNew {
  display: flex;
  height: cal(100vh - 4rem);
  width: 100%;
}

.navbar {
  transition: max-height 0.5s ease-out;
  max-height: 600px;
}

/* .font-style {
  font-family: "Noto Sans", sans-serif;
} */

/* .font-style {
  font-family: "Noto Sans",-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
} */

.navBorder {
  border-bottom: 1px solid #6e8291;
}

.scroll {
  overflow-y: scroll;
}

.scroll-hide {
  overflow-y: hidden;
}

.tweet-text-area {
  width: 100%;
  resize: none;
}

.textarea-style {
  resize: none;
  caret-color: #802fff !important;
}

/* .height-draft{
  height: calc(100vh - 2rem);
} */

.tweet-flow {
  overflow-y: scroll;
}

.tweet-overflow::-webkit-scrollbar {
  display: none;
}

.tweet-auto-flow {
  overflow-x: hidden;
  overflow-y: scroll;
}

.tweet-auto-overflow::-webkit-scrollbar {
  display: none;
}

/* .btnHover:hover {
  box-shadow: 0px 0px 2px 2px rgba(201, 198, 198, 0.4);
}

.btnActive {
  box-shadow: 0px 0px 2px 2px rgba(201, 198, 198, 0.4);
} */

.float-hover:hover {
  color: rgb(49, 127, 245);
}

.floatactive {
  color: rgb(49, 127, 245);
}


.transitionDraft {
  transition: all 800ms ease-in-out;
}

.kickOutline {
  outline: 0;
}

.modalWidth {
  width: 100%;
  max-width: 100%;
}

.autoScrollHeight {
  height: calc(100% - 11.5%);
}
