// Colors

$lightBlue: rgb(49, 127, 245);
$lightPurple: #802fff;
$gray: #738696;
$white : #fff;

// border-colors

$border__gray : #2b343b;
$border__light : #ecf0f4;


// fonts

$fonts: "Zen Kaku Gothic Antique", sans-serif;
